@font-face {
  font-family: "TTLakes";
  src: url("../font/TTLakes-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTLakes";
  src: url("../font/TTLakes-Medium.ttf") format("TrueType");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTLakes";
  src: url("../font/TTLakes-Bold.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  height: 100%;
  background-color: #fff;
}

html {
  font-family: "TTLakes", "Arial", "sans-serif";
  font-weight: 500;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #1b1c21;
}

.wrapper-page {
  width: 320px;
  font-family: "TTLakes", sans-serif;
  font-weight: 500;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
    -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
}
.header-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-page__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  padding: 18px 24px 46px 24px;
  list-style: none;
}

.header-page__link img {
  display: block;
}

.header-page__link--btn {
  margin-right: 15px;
}
.logo {
  /* margin-right: 20px; */
}
.header-page__wrapper {
  display: flex;
  align-items: center;
  justify-items: flex-start;
}
.search-item {
  /* margin-left: 8px; */
  margin-right: 16px;
  margin-left: 78px;
  justify-items: flex-end;
}
a {
  color: #1b1c21;
  text-decoration: none;
}

.main-nav {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 16px 0 0;
}

.main-nav__logo {
  align-self: flex-start;
}
.main-nav__list {
  overflow-y: auto;
  min-height: 24px;
  font-weight: 500;
  list-style: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__item {
  margin-bottom: 24px;
  padding: 0 24px;
}
.link:hover {
  color: #ff3e79;
  transition: color 0.4s, box-shadow 0.2s 0.3s;
}
.is-active::before {
  content: "";
  height: 32px;
  width: 4px;
  background-image: url("data:image/svg+xml,%3Csvg width='4' height='40' viewBox='0 0 4 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 4C4 1.79086 2.20914 0 0 0V40C2.20914 40 4 38.2091 4 36V4Z' fill='%2341F6D7'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 4%;
  transform: translateY(-50%);
  margin-right: 20px;
  color: #41f6d7;
}

.is-active {
  display: flex;
  align-items: center;
  color: #7e7e82;
  gap: 20px;
}

.footer {
  align-items: flex-end;
  margin-top: 40%;
}
.address__tel-link {
  display: block;
  font-family: "TTLakes-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  padding-top: 12px;
  padding-bottom: 40px;
  color: black;
  text-decoration: none;
}
.address__mail-link {
  font-family: "TTLakes";
  font-style: normal;
  color: #1b1c21;
  text-decoration: none;
  margin-top: 16px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.main-nav__contact-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 0 24px;
  padding: 0;
  list-style: none;
}
.contact-menu__item {
  margin-right: 16px;
}

.contact-menu__link img {
  display: block;
}
.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: none;
  margin-bottom: 8px;
  font-style: normal;
  margin: 0 0 0 24px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
}
.address__mail-link {
  margin-bottom: 16px;
  font-weight: 500;
  font-family: "TTLakes";
  font-weight: 500;
  letter-spacing: -0.2px;
}
.address__tel-link {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.6px;
}
.lang {
  display: flex;
  margin: 0;
  padding: 0;
  font-weight: 500;
  text-transform: uppercase;
  list-style: none;
  padding: 0 0 32px 24px;
}
.lang__item {
  margin-right: 8px;
}
.lang-active {
  color: #7e7e82;
}

.wrap__container {
  display: flex;
  justify-content: center;
}
.container {
  min-height: auto;
  max-width: 1120px;
  padding: 0 16px;
  margin: 0 auto;
}

.header {
  background-color: white;
  border-bottom: 1px solid #b8ffec;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 18px 0;
}
.header__logo {
  height: 50.815px;
}

.header__link img {
  display: block;
}

.header__item--logo {
  display: flex;
  align-items: center;
  flex-grow: 2;
  gap: 15px;
}

.header__item--tablet {
  display: none;
  list-style: none;
}

.header__item--mobile {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
}

.header__item--mobile::before {
  content: "";
  width: 2px;
  height: 32px;
  border-radius: 1px;
  background-color: #eaeaea;
}

main {
  max-width: 100%;
}
.abt-company-img {
  max-width: 581px;
  max-height: 380px;
  overflow: hidden;
}
.abt-company-img img {
  width: 100%;
  height: 100%;
}
.center__wrap {
  display: block;
  margin: 0 auto;
  max-width: 1120px;
}
.menu {
  max-width: 100vw;
  overflow: hidden;
}

.title-container {
  display: none;
}
.desktop {
  display: none;
}

.title {
  color: #1b1c21;
  font-family: "TTLakes";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 142.857% */
  letter-spacing: -0.6px;
  min-height: 40px;
  align-items: flex-start;
}

.menu__title {
  display: flex;
  gap: 12px;
}

.menu__title::before {
  content: "";
  display: block;
  height: 40px;
  width: 4px;
  background-image: url("data:image/svg+xml,%3Csvg width='4' height='40' viewBox='0 0 4 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 4C4 1.79086 2.20914 0 0 0V40C2.20914 40 4 38.2091 4 36V4Z' fill='%2341F6D7'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
}

.nav {
  padding: 0;
}

.nav__list {
  display: flex;
  flex-wrap: nowrap;
  max-width: 100%;
  overflow-x: auto;
  padding: 8px 16px;
}
.nav__list::-webkit-scrollbar {
  display: none;
}
.nav__item {
  list-style: none;
}
.nav__item.last {
  margin-top: 10px;
}

.nav__link {
  color: #7e7e82;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
  white-space: nowrap;
  border: 2px solid transparent;
  padding: 0 14px;
  border-radius: 6px;
}

.nav__link--active {
  border-color: #b8ffec;
  background: #fff;
}
.nav__link--brand {
  display: none;
}
.abt-company {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 48px;
}
.abt-company__info {
  display: flex;
  flex-wrap: wrap;
  color: #1b1c21;
  font-family: "TTLakes";
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0.2px;
  min-height: 90px;
}
.abt-company__wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
}
.abt-company__wrapper p:nth-child(2),
.abt-company__wrapper p:nth-child(3) {
  display: none;
}

.abt-company__img {
  width: 100vw;
  height: auto;
  margin-left: -24px;
}

.abt-company__img img {
  width: 100%;
}

.abt-company__btn-readmore {
  display: flex;
  align-items: center;
  min-height: 24px;
  border: none;
  background-color: transparent;
  margin: 0;
  color: #1b1c21;
  font-weight: 500;
  font-style: normal;
  padding: 0 14px;
  border-radius: 6px;
}
.abt-company__btn-readmore::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='ic/expand'%3E%3Cpath id='icon' fill-rule='evenodd' clip-rule='evenodd' d='M14.5001 7.50008L12.0001 10.0001L9.50008 7.50008C9.22393 7.22393 8.77622 7.22393 8.50008 7.50008C8.22393 7.77622 8.22393 8.22393 8.50008 8.50008L11.293 11.293C11.6835 11.6835 12.3167 11.6835 12.7072 11.293L15.5001 8.50008C15.7762 8.22393 15.7762 7.77622 15.5001 7.50008C15.2239 7.22393 14.7762 7.22393 14.5001 7.50008ZM14.5001 13.5001L12.0001 16.0001L9.50008 13.5001C9.22393 13.2239 8.77622 13.2239 8.50008 13.5001C8.22393 13.7762 8.22393 14.2239 8.50008 14.5001L11.293 17.293C11.6835 17.6835 12.3167 17.6835 12.7072 17.293L15.5001 14.5001C15.7762 14.2239 15.7762 13.7762 15.5001 13.5001C15.2239 13.2239 14.7762 13.2239 14.5001 13.5001Z' fill='%2341F6D7'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

.abt-company-img {
  background-repeat: no-repeat;
  height: 100%;
  padding: 0;
}

@media (min-width: 768px) {
  body {
    min-width: 768px;
  }
  .container {
    padding: 0 24px;
  }
  .title-container {
    display: none;
  }
  .header__item--tablet {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .header__item--logo::before {
    content: "";
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: #eaeaea;
  }

  .nav__item:nth-child(7) {
    order: 7;
  }
  .nav__item:nth-child(5) {
    order: 4;
  }
  .abt-company {
    display: flex;
    flex-direction: column;
    gap: 48px;
    min-width: 50vh;
    /* margin-right: 40px; */
  }
  .abt-company__info {
    flex-direction: column;
    align-items: flex-start;
  }

  .abt-company__wrapper p:nth-child(1),
  .abt-company__wrapper p:nth-child(2) {
    display: block;
  }
  .abt-company__wrapper p:nth-child(1) {
    margin-bottom: 15px;
  }
  .abt-company__wrapper p:nth-child(3) {
    display: none;
  }
  .abt-company__btn-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .abt-company__btn-readmore {
    padding: 0;
    margin-top: 10px;
    align-items: center;
    justify-content: flex-start;
  }
  .abt-company__btn-readmore::before {
    content: "";
    margin-right: 8px;
    margin-left: 25px;
  }
  .abt-company__wrapper {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
  }

  .abt-company__info-text {
    flex: 1;
  }

  .abt-company__img {
    flex: 1;
    text-align: center;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
  }

  .abt-company__img img {
    height: auto;
  }
}

@media (min-width: 1120px) {
  body {
    min-width: 1120px;
  }

  .header {
    display: none;
  }
  .title-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav__list {
    padding: 8px 22px;
  }
  .nav__link--brand {
    display: block;
  }
  .nav__link--devices {
    display: block;
    border: hidden;
  }
  .request-text,
  .status-container {
    color: #1b1c21;
    text-align: right;
    font-family: TTLakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
  }
  .menu__title::before {
    width: 3px;
    margin-right: 30px;
    background-position-x: left;
    background-position-y: center;
  }
  .container {
    font-size: 28px;
    font-weight: 700;
    margin-right: 450px;
  }

  .request-container {
    display: flex;
    align-items: center;
    margin-left: 450px;
  }

  .request-text {
    margin-right: 16px;
  }

  .status-container {
    display: flex;
    align-items: center;
    margin-left: 32px;
  }

  .status-text {
    margin-right: 16px;
  }

  .nav__list {
    flex-wrap: wrap !important;
    padding: 8px 22px;
  }
  .nav__item:nth-child(5) {
    order: 5;
  }

  .nav__item:nth-child(4) {
    order: 3;
  }

  .nav__item:nth-child(6) {
    order: 6;
  }
  .nav__item:nth-child(3) {
    display: none;
  }
  .abt-company__wrapper p:nth-child(1),
  .abt-company__wrapper p:nth-child(2),
  .abt-company__wrapper p:nth-child(3) {
    display: block;
    white-space: wrap;
  }
  .abt-company__wrapper {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    gap: 36px;
  }

  .abt-company__info-text {
    flex: 1;
  }

  .abt-company__img {
    flex: 1;
    text-align: center;
  }

  .abt-company__img img {
    width: 100%;
    height: auto;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #ff3e79;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
